body{
    background-color: blue;
    margin: 10%;
    justify-content: center;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }